<div class="container show-page">
  <div class="row">
    <div class="col-md-9 jobboard-show">
      <img src="{{jobboard.image}}" alt="{{jobboard.name}}">
      <h1>{{jobboard.product}}</h1>
      <h2>{{jobboard.name}}</h2>


    </div>
    <div class="col-md-3">
      hhhhhhhhhhhhhhhhhhhhhh
    </div>
  </div>
</div>
